header {
  padding: 1vw 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #C7C7C7;
  margin-bottom: 40px;
  button {
    border: none;
    background: none;
    cursor: pointer;
    #cartCount {
      background: $blue-default;
      padding: 3px 6px;
      border-radius: 94px;
      font-size: 10px;
      color: white;
      margin-left: -1vw;
    }
  }
}